# Gradle
.gradle/
build/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Local config
local.properties

# Logs
*.log

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json

# IDE
*.iml
.idea/
.vscode/

# Keys
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db